* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

h1 {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 60px;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

li a {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    
}

h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 24px;
}

.recipe-list {
    list-style: none;
    padding: 0px;
}

.recipe-list li {
    display: inline-block;
    margin: 0px auto;
    width: 33%;
    height: 600px;
    text-align: center;
    overflow: hidden;
}

li img {
    margin: 10px auto;
    width: 100%;
}

.whole {
    width: 100%;
}

.right, .left {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    overflow: hidden;
}

.right {
    background-color: bisque;
    text-align: left;
}

ol li, ul li {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 4px 0px;
    padding: 4px 12px 4px 4px;
}

p {
    margin: 40px;
    font-size: 20px;
}